<!-- {% extends "webpoet/base.html" %}
 {% load staticfiles %}
 
 {% block head %}

 {% static "reportui/css/webpoet.css" %}" 

 {% endblock %}
 
{% block content %}
 <div class="panel paneldefault">
   <div class="panelheading">
     <h3 class="paneltitle">New poem</h3>
   </div>
   <div class="panelbody">-->

     <!DOCTYPE html>
     <html lang="en">
     <head>
       <meta charset="utf-8">

       <title>Beginnings</title>

       <link href="../../static/webpoet/css/bootstrap.min.css" rel="stylesheet">
       <link href="../../static/webpoet/css/flat-ui.css" rel="stylesheet">
       <link href="../../static/webpoet/css/flashpace.css" rel="stylesheet">


     </head>

     <body style="background-color: #f8f8f8">
       <div class="container">
        <div class="row">
       <!--<div class="colxs4">
         <div class="todo">
           <ul>
             <li class="tododone">
               <div class="todoicon"></div>
               <div class="todocontent">
                 <h4 class="todoname">Facebook</h4>
               </div>
             </li>
             <li class="tododone">
               <div class="todoicon"></div>
               <div class="todocontent">
                 <h4 class="todoname">Twitter</h4>
               </div>
             </li>
           </ul>
         </div>
       </div>-->
       <div class="jumbotron text-center" style="letter-spacing: 20px; margin-top: 15px;">
         <h1>POETIFICATION</h1>
       </div>
     </div>

     <div class="row" style="margin-left: 10px;">
       <div style="width: 108px; float: left;"> 
         <ul class="nav nav-pills nav-stacked" style="width: 50px;"><h3>
          <li><button class="btn :hover">Haiku</button></li>
          <li><button class="btn :hover">Sonnet</button></li>
          <li><button class="btn :hover">Limerick</button></li>
          <li><button class="btn :hover">Dodoitsu</button></li>
          <li><button class="btn :hover">Free verse</button></li>
        </h3>
          <br>
        </ul>            
      </div>

      <div style="float: left; margin-left: 25px; width: 45%">
        {{ block.super }}
      </div>

    </div>
  </div>
 <!--{% endblock %}
  
 
     Bootstrap core JavaScript
     ================================================== >
     <! Placed at the end of the document so the pages load faster -->
     <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
     <script src="../../static/webpoet/js/bootstrap.min.js"></script>
   </body>
   </html>
