
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Beginnings</title>

  <!-- Bootstrap core CSS -->
  <link href="./../../static/webpoet/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/webpoet/css/flat-ui.css" rel="stylesheet">
  <link href="../../static/webpoet/css/flashpace.css" rel="stylesheet">


</head>

<body>
  <div class="container">
    <div class="row">
      <div class="jumbotron text-center" style="letter-spacing: 20px; margin-top: 15px;">
        <h2>POETIFICATION</h2>
      </div>
    </div>

    <div class="row" style="margin-left: 10px;">
      <div style="width: 108px; float: left;"> 
          <ul class="nav nav-pills nav-stacked" style="width: 50px;">
           <li><button class="btn :hover">Haiku</button></li>
           <li><button class="btn :hover">Sonnet</button></li>
           <li><button class="btn :hover">Limerick</button></li>
           <li><button class="btn :hover">Dodoitsu</button></li>
           <li><button class="btn :hover">Free verse</button></li>
           <br>
         </ul>            
     </div>

     <div style="float: left; margin-left: 25px; width: 45%">
      poems go heeeeeeere
    </div>

  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../static/webpoet/js/bootstrap.min.js"></script>
  </body>
  </html>
